pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
imblearn
pymongo
from_root
evidently==0.2.8
dill
PyYAML
neuro_mf
boto3
mypy-boto3-s3
botocore
fastapi
ensure
python-box
streamlit
streamlit_lottie
streamlit_option_menu